<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Files</title>
</head>
<body>
    <p id="title">File Uploads</p>
    <style>
        #title{
            background-color: rgb(136, 72, 20);
            color: rgb(243, 220, 187);
            font-size: 50px;
            padding: 20px;
            margin: -8px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        body{
            background-color: rgb(231, 205, 168);
            color: rgb(92, 40, 40);
        }
    </style>
    {% block content %}

    {% endblock %}
    <style>
        div{
            padding: 20px;
            padding-top: 5px;
            }
    </style>
</body>
</html>